<!-- HEREDA DEL TEMPLATE INDEX UBICADO EN LA CARPETA CORE. -->
{% extends 'core/base.html' %}
{% load static %}
<!-- IMPORTACIÓN DE BLOQUE JAVASCRIPT -->
{% block javascript %}
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'core/js/validar.js' %}"></script>
{% endblock %}
<!-- SE LLAMA AL BLOQUE DINAMICO CREADO EN BASE.HTML PARA CARGAR EL FORMULARIO, ESTE BLOQUE CONTIENE LA ESTRUCTURA QUE SE DEBE MANTENER DE LA PÁGINA PRINCIPAL -->
{% block dinamico%}
 
  <form class="row g-3" action="" method="post" id="form">{% csrf_token %}
    
    <div class="col-md-4">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" name="name" value="Mark" required>
      <span></span>
      <!-- <div class="valid-feedback">
        Bien!
      </div>
      <div  class="invalid-feedback">
        Ingresa tu nombre.
      </div> -->
    </div>
    <div class="col-md-4">
      <label for="validationServer02" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="last_name" name="last_name" value="Otto" required>
      <span></span>
      <!-- <div class="valid-feedback">
        Looks good!
      </div> -->
    </div>
    <div class="col-md-4">
      <label for="validationServer02" class="form-label">Email</label>
      <input type="text" class="form-control" id="email" name="email" value="lui.saavedra@duocuc.cl" required>
      <span></span>
      <!-- <div class="valid-feedback">
        Looks good!
      </div> -->
    </div> 
    <!-- <div class="col-md-4">
      <label for="validationServerUsername" class="form-label">Email</label>
      <div class="input-group has-validation">
        
        <input type="text" class="form-control" id="email" name="email" value="lui.saavedra@duocuc.cl" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
        <span></span>
        <!-- <div id="validationServerUsernameFeedback" class="invalid-feedback">
          Please choose a username.
        </div> -->
      <!-- </div> --> 
    </div>
    <div class="col-md-4">
      <label for="validationServer02" class="form-label">Contraseña</label>
      <input type="text" class="form-control" id="password" name="password" value="Otto" required>
      <span></span>
      <!-- <div class="valid-feedback">
        Looks good!
      </div> -->
    </div> 
    <div class="col-md-4">
      <label for="validationServer02" class="form-label">Confirmar Contraseña</label>
      <input type="text" class="form-control" id="password2" name="password2" value="Otto" required>
      <span></span>
      <!-- <div class="valid-feedback">
        Looks good!
      </div> -->
    </div>
    <div class="col-md-3">
      <label for="validationServer04" class="form-label">Usuario</label>
      <select class="form-select" id="username" name="username" aria-describedby="validationServer04Feedback" required>
        <option selected disabled value="">¿Qué tipo de usuario eres?</option>
        <option>ADMINISTRADOR</option>
        <option>CLIENTE</option>
      </select>
      <span></span>
      <!-- <div id="validationServer04Feedback" class="invalid-feedback">
        Please select a valid state.
      </div> -->
    </div> 
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Registrar</button>
    </div> 
  </form>
      
  

  
  
  
  <!-- <form class="row g-3 " method="post">
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Nombre</label>
    <input type="text" class="form-control is-valid" id="name" name="name"
    value="Mark" required>
    <div class="valid-feedback">
      Bien hecho!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="last_name"  name="last_name" value="Otto" required>
    <div class="valid-feedback">
      Bien hecho!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Email</label>
    <div class="input-group has-validation">
      <input type="text" class="form-control" id="email"  name="email" aria-describedby="inputGroupPrepend" required value="lui.saavedra@duocuc.cl">
      <span class="input-group-text" id="inputGroupPrepend">@</span>      
      <div class="valid-feedback">
        Asegúrate que tu correo termine con el dominio correcto ej:"@example.cl"
      </div>
      <div class="invalid-feedback">
        Ingresa tu email.
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Contraseña</label>
    <input type="text" class="form-control" id="password"  name="password"value="Otto" required>
    <div class="valid-feedback">
      Bien hecho!
    </div>
    <div class="invalid-feedback">
      Ingresa tu contraseña.
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Confirma tu contraseña</label>
    <input type="text" class="form-control" id="password2" name="password2" value="Otto" required>
    <div class="valid-feedback">
      Bien hecho!
    </div>
    <div class="invalid-feedback">
      Confirma tu contraseña.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">¿Qué tipo de usuario eres?</label>
    <select class="form-select" id="usuario" name="usuario" required>
      <option selected disabled value="">Elige un usuario</option>
      <option>CLIENTE</option>
      <option>ADMINISTRADOR</option>

    </select>
    <div class="valid-feedback">
      Bien hecho!
    </div>
    <div class="invalid-feedback">
      Selecciona un usuario.
    </div>
  </div>
  
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Acepta las términos y condiciones.
      </label>
      <div class="invalid-feedback">
        Debe aceptar antes de enviar.
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Registrar</button>
  </div>
</form> -->
<!-- TÉRMINO DEL BLOQUE DINAMICO   -->
{% endblock %}  